@model CoreProjectRemasterd.Models.Supplier

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FbUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FbUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkedInUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkedInUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SupplierID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
