@model CoreProjectRemasterd.Models.Offer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OfferID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
