@model IEnumerable<CoreProjectRemasterd.Models.Offer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OfferTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfferTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferImage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OfferID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OfferID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OfferID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
